/* Reset básico */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
.header-container {
    background-color: #f9f0d7;
    color: #b85151;
    text-align: center;
    padding: 20px 0;
    border: solid 0.5px;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#logo {
    width: 60px;
    height: auto;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #b85151;
}

/* Main Content */
main {
    padding: 20px;
}

.recipe-section {
    margin: 20px auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Rating Estrelas */
.rating {
display: flex;
    flex-direction: row-reverse;
    /* Exibe as estrelas da direita para a esquerda */
    justify-content: flex-start;
    /* Alinha ao início */
    gap: 5px;
}

.rating label {
    font-size: 20px;
    color: #ccc;
    /* Cor padrão para as estrelas */
    cursor: pointer;
    transition: color 0.3s ease;
}

.rating input {
    display: none;
}

/* Alteração de cor ao clicar */
.rating input:checked~label {
    color: #ffb400;
}

/* Hover para as estrelas */
.rating label:hover,
.rating label:hover~label {
    color: #ffb400;
}